#currentWeather{
    padding-bottom: 30px;
    padding-top: 20px;
}

#citySearch{
    padding-top: 30px;
}

#header{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#previousCity{
    width: inherit;

}
    

.footer {
    flex-shrink: 0;
  }
    
  footer{
        position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
          background-color: Black;
          color: #999999;
          height: 50px;
          border-top: 8px solid #017cfb;
          line-height: 60px;
          font-size: small;
    }
  